body{
	background-color: #FFDCCC;
}

.score{
	font-size: 2rem;
	letter-spacing: 2em;
	background-color: #DFB8B8;
	height: 40px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
main{
	display: flex;
	justify-content:  space-between;
}
#btn{
	border-radius: 100%;
	width: 100px;
	height: 100px;
	margin-top: 20px;
	margin-left: 50px;
	border: none;
	background-color: #DFB8B8;
	cursor: pointer;
}
.player{
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}
#heading{
	margin-left: 50px;
	color: #2f0f00;
}
#player-choice{
	margin-left: 50px;
	font-size: 2rem;
	color: #2f0f00;
}
.computer{
	display: flex;
	flex-direction: column;
}
#header{
	margin-right: 50px;
	margin-top: 80px;
	color: #2f0f00;
}
#rock{
	border-radius: 100%;
	width: 100px;
	height: 120px;
	margin-top: 20px;
	margin-left: 50px;
	border: none;
	background-color: #DFB8B8;
	cursor: pointer;
	font-size: 1rem;
}
#paper{
	border-radius: 100%;
	width: 100px;
	height: 120px;
	margin-top: 20px;
	margin-left: 50px;
	border: none;
	background-color: #DFB8B8;
	cursor: pointer;
	font-size: 1rem;
}
#scissors{
	border-radius: 100%;
	width: 100px;
	height: 120px;
	margin-top: 20px;
	margin-left: 50px;
	border: none;
	background-color: #DFB8B8;
	cursor: pointer;
	font-size: 1rem;
}
#result{
	text-align: center;
	font-size: 1.5rem;
	color: #2f0f00;
}
#para{
	margin-right: 50px;
	font-size: 2rem;
	color: #2f0f00;
	margin-top: 10em;
}